@media screen and (max-width: 600px) {
  .title_estabelecimentos {
    display: none;
  }
  .input_estabelecimentos {
    background-color: #fffaf0;
    border: none;
    border-radius: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 8vw;
    font-size: 15px;
    color: black;
    padding: 10px 0 10px 10px;
  }
  .class_filter {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  #filter_options {
    display: none;
    background-color: #10140f;
    color: #fffaf0;
    right: 0;
    top: 0;
    z-index: 1;
    width: 70%;
    position: absolute;
    height: 100%;
  }
  #filter_options .row {
    display: flex;
    -moz-column-gap: 25vw;
         column-gap: 25vw;
    padding: 25px;
    align-items: center;
  }
  #filter_options .row h1 {
    font-size: 25px;
    font-weight: 300;
  }
  #filter_options .column {
    display: flex;
    padding: 25px;
    flex-direction: column;
    row-gap: 10px;
  }
  #filter_options .column h1 {
    font-size: 25px;
    font-weight: 500;
  }
  #filter_options .column input {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
  #filter_options .button {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
  }
  #filter_options .filter {
    background-color: #ec3237;
    border: none;
    color: white;
    font-weight: 300;
    height: 6.5vw;
    transition: 500ms;
  }
  #filter_options .filter:hover {
    transform: scale(1.1);
    transition: 500ms;
  }
  #filter_options .clear {
    background-color: #10140f;
    border: 1px solid #ec3237;
    color: #fffaf0;
    font-weight: 300;
    height: 6.5vw;
    transition: 500ms;
  }
  #filter_options .clear:hover {
    transform: scale(1.1);
    transition: 500ms;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    overflow-y: scroll;
  }
  .container .card {
    display: flex;
    gap: 10px;
    background-color: #fffaf0;
    border-radius: 8px;
    min-width: 25vw;
    min-height: 128px;
    padding: 12px;
  }
  .container .card .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .container .card .info .name {
    font-size: 18px;
    color: #00a85a;
  }
  .container .card .info .category {
    font-size: 14px;
    color: #ec3237;
  }
  .container .card .info .address {
    font-size: 14px;
    color: #00a85a;
  }
  .container .card .info button {
    border: 0;
    background-color: #ec3237;
    color: #fffaf0;
    border-radius: 4px;
    width: 100%;
    padding: 4px 0;
    font-size: 18px;
  }
  .container .card .info button:hover {
    background-color: #d12a2f;
  }
  .container .card .name {
    font-size: 18px;
    color: #00a85a;
  }
  .container .card .category {
    font-size: 14px;
    color: #ec3237;
  }
  .container .card .address {
    font-size: 14px;
    color: #00a85a;
  }
  .container .card button {
    border: 0;
    background-color: #ec3237;
    color: #fffaf0;
    border-radius: 4px;
    width: 100%;
    padding: 4px 0;
    font-size: 18px;
  }
  .container .card button:hover {
    background-color: #d12a2f;
  }
  .container .card .photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 128px;
    aspect-ratio: 1/1;
  }
  .container::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  .container::-webkit-scrollbar-track {
    background: transparent;
  }
  .container::-webkit-scrollbar-thumb {
    background: #00a85a;
    border-radius: 6px;
  }
}
@media screen and (min-width: 600px) {
  .title_estabelecimentos {
    color: #fffaf0;
    letter-spacing: 5px;
  }
  .input_estabelecimentos {
    background-color: #fffaf0;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    color: #10140f;
    padding: 10px 0 10px 50px;
    outline: none;
  }
  .class_filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
  .class_filter img,
.class_filter span {
    cursor: pointer;
  }
  #filter_options {
    display: none;
    background-color: #10140f;
    color: #fffaf0;
    right: 0;
    top: 0;
    width: 25vw;
    position: absolute;
    height: 100%;
  }
  #filter_options .row {
    display: flex;
    -moz-column-gap: 12vw;
         column-gap: 12vw;
    padding: 25px;
    align-items: center;
  }
  #filter_options .row h1 {
    font-weight: 300;
  }
  #filter_options .row #close_filter {
    cursor: pointer;
  }
  #filter_options .column {
    display: flex;
    padding: 25px;
    flex-direction: column;
    row-gap: 10px;
  }
  #filter_options .column h1 {
    font-weight: 500;
  }
  #filter_options .column input {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
  #filter_options .button {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
  }
  #filter_options .filter {
    background-color: #ec3237;
    border: none;
    color: white;
    font-weight: 300;
    height: 2.5vw;
    transition: 500ms;
  }
  #filter_options .filter:hover {
    transform: scale(1.1);
    transition: 500ms;
    cursor: pointer;
  }
  #filter_options .clear {
    background-color: #10140f;
    border: 1px solid #ec3237;
    color: #fffaf0;
    font-weight: 300;
    height: 2.5vw;
    transition: 500ms;
  }
  #filter_options .clear:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 500ms;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw 2vw;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    width: 10px;
  }
  .container::-webkit-scrollbar-track {
    background: transparent;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: #029450;
    border-radius: 6px;
  }
  .container .card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #fffaf0;
    border-radius: 8px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 20vw;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .container .card:hover {
    box-shadow: 11px 10px 13px #029450;
    transition: 0.3s;
  }
  .container .card .photo {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .container .card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4px;
  }
  .container .card .info .name {
    color: #00a85a;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
  }
  .container .card .info .address {
    color: #00a85a;
    font-size: clamp(1rem, 1vw, 2rem);
  }
  .container .card .info .category {
    font-size: clamp(1rem, 1vw, 2rem);
    color: #ec3237;
  }
  .container .card button {
    border: 0;
    background-color: #ec3237;
    color: #fffaf0;
    border-radius: 4px;
    width: 100%;
    padding: 12px 8px;
    font-size: clamp(1rem, 1vw, 2rem);
    transition: 0.3s;
  }
  .container .card button:hover {
    background-color: #d12a2f;
    cursor: pointer;
    transition: 0.3s;
  }
}/*# sourceMappingURL=establishments.css.map */