<meta charset="UTF-8" />
<meta name="theme-color" content="#00A85A" />
<!--viewport para designers responsivos (mobo), content é a configuração-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="stylesheets/global.css" />
<link rel="manifest" href="manifest.json" />
<link rel="shortcut icon" href="images/icon_256.png" type="image/png" />
<link rel="apple-touch-icon" href="images/icon_256.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<title><%= title %></title>

<body>
  <!-- Header -->
  <header>
    <div>
      <img class="assifems" src="/images/assifems.png" />
    </div>

    <div class="options">
      <div id="return" onclick="menu()">
        <span style="cursor: pointer"></span
        ><img class="icon_arrow" id="arrow" src="images/icons/arrow.svg" />
      </div>
      <img id="hamburger" src="images/icons/hamburger.svg" onclick="menu()" />
      <div><h1 class="title_carteirinha">Carteirinha Digital</h1></div>

      <div id="more_options">
        <div class="division">
          <div class="up">
            <img id="close" src="images/icons/close.svg" onclick="menu()" />
            <div>
              <a href="/">Logado em
                <b>
                  <span class="associate_name">Andre</span>
                </b>
              </a>
            </div>
            <div class="selected">Vizualizar carteirinha</div>
            <div><a href="/estabelecimentos">Estabelecimentos</a></div>
            <div>
              <form action="/deslogar" method="post">
                <input class="deslogar" type="submit" value="Sair" />
              </form>
            </div>
          </div>

          <div class="down">
            <div>
              <a href="https://wa.me/556781321492">
                <img class="icon_help" src="images/icons/help_white.svg" />
                Preciso de ajuda</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>