<meta charset="UTF-8" />
<meta name="theme-color" content="#00A85A" />
<!--viewport para designers responsivos (mobo), content é a configuração-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/global.css" />
<link rel="manifest" href="manifest.json" />
<link rel="shortcut icon" href="images/icon_256.png" type="image/png" />
<link rel="apple-touch-icon" href="images/icon_256.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<title><%= title %></title>