<div id="more_options">
  <div class="division">
    <div class="up">
      <img id="close" src="images/icons/close.svg" onclick="menu()" />
      <div>Logado em <b><%= user %></b></div>
      <div class="selected">Vizualizar carteirinha</div>
      <div><a href="/estabelecimentos">Estabelecimentos</a></div>
      <div>Sair</div>
    </div>

    <div class="down">
      <div>
        <img class="icon_help" src="images/icons/help_white.svg" />
        Preciso de ajuda
      </div>
    </div>
  </div>
</div>