@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

$main-color: #00a85a;
$secondary-color: #ec3237;
$light: #fffaf0;
$dark: #10140f;
$font: "Outfit", sans-serif;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: $main-color;
  @include flex(column, center, start);
  height: 100vh;
  row-gap: 16px;
  padding: 1vw 2vw;
}
