@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background-color: #00a85a;
    width: 100%;
  }
  header .assifems {
    display: none;
  }
  header .associate_name {
    color: #029450;
  }
  header #return {
    display: none;
  }
  header .options {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 2vw;
  }
  header #more_options {
    background-color: #10140f;
    color: #fffaf0;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    padding: 3vw 4vw;
    max-width: 100%;
    height: 100%;
  }
  header .title_carteirinha {
    color: #fffaf0;
    font-size: 5vw;
  }
  header .deslogar {
    border: none;
    color: #fffaf0;
    background-color: #10140f;
  }
  header .division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  header .selected {
    color: #ec3237 !important;
    border-bottom: #ec3237 solid 0.5px;
  }
  header #close {
    margin-bottom: 40px;
  }
  header .up div {
    border-bottom: solid 0.5px;
    max-width: 100%;
    padding: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  header .up div:first-child {
    padding: 20px 10px;
    border-radius: 6px 0px 0px 0px;
  }
  header .down {
    padding: 0 10px 0 0;
    font-size: 0.8rem;
  }
  header .icon_help {
    height: 10px;
  }
}
@media screen and (min-width: 600px) {
  header {
    width: 100%;
    background-color: #fffaf0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
  }
  header #hamburger {
    display: none;
  }
  header #return {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header #return span {
    font-weight: 700;
  }
  header #return .icon_arrow {
    height: 22px;
    cursor: pointer;
  }
  header .assifems {
    height: 40px;
    max-width: 100%;
  }
  header .associate_name {
    color: #029450;
  }
  header .options {
    position: relative;
  }
  header .title_carteirinha {
    display: none;
  }
  header #close {
    display: none;
  }
  header #more_options {
    display: none;
    position: absolute;
    background-color: #fffaf0;
    right: 0;
    border: solid 2px;
    width: 180px;
    border-radius: 10px 0 10px 10px;
    z-index: 1;
    flex-direction: column;
    font-weight: 700;
  }
  header #more_options .deslogar {
    border: none;
    color: black;
    background-color: none;
    background-color: white;
    transition: 200ms;
    font-weight: 700;
  }
  header #more_options .division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  header #more_options .down {
    margin-top: 170px;
  }
  header #more_options .selected {
    color: #ec3237 !important;
    border-bottom: #ec3237 solid 0.5px;
  }
  header #more_options .up div {
    border-bottom: solid 0.5px;
    max-width: 100%;
    transition: 200ms;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  header #more_options .up div:hover {
    background-color: #10140f;
    color: #fffaf0;
    transition: 200ms;
    cursor: pointer;
  }
  header #more_options .up div:hover .deslogar {
    background-color: #10140f;
    color: #fffaf0;
    transition: 200ms;
    cursor: pointer;
  }
  header #more_options .up div:first-child {
    padding: 20px 10px;
    border-radius: 6px 0px 0px 0px;
  }
  header #more_options .down {
    padding: 5px 10px;
    font-size: 0.8rem;
    transition: 200ms;
  }
  header #more_options .down:hover {
    transition: 200ms;
    font-weight: 800;
    cursor: pointer;
  }
  header #more_options .icon_help {
    height: 10px;
  }
  header #more_options .icon_help:hover {
    transition: 200ms;
    height: 12px;
  }
}/*# sourceMappingURL=menu.css.map */