@import '../../variables';


@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: $main-color;
    width: 100%;
    .assifems {
      display: none;
    }
    .view_name{
      cursor: pointer;
    }
    .associate_name{
      color: #029450;
    }
    #return {
      display: none;
    }
    .options {
      display: flex;
      justify-content: space-between;
      width: 75%;
      height: 100%;
      padding: 2vw;
    }
    #more_options {
      background-color: $dark;
      color: $light;
      position: absolute;
      transition: 1s;
      left: -100%;
      top: 0;
      opacity: 0;
      padding: 3vw 4vw;
      width: 70%;
      height: 100%;
    }
    .title_carteirinha {
      color: $light;
      font-size: 5vw;
    }
    .deslogar{
      border: none;
      color: $light;
      background-color: $dark;

    }
    .division {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .selected {
      color: $secondary-color !important;
      border-bottom: $secondary-color solid 0.5px;
    }
    #close {
      margin-bottom: 40px;
    }

    .up div {
      border-bottom: solid 0.5px;
      max-width: 100%;
      padding: 10px;

      &:first-child {
        padding: 20px 10px;
        border-radius: 6px 0px 0px 0px;
      }

      padding: 5px 10px;
      font-size: 0.9rem;
    }
    .down {
      padding: 0 10px 0 0;
      font-size: 0.8rem;
    }
    .icon_help {
      height: 10px;
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    width: 100%;
    background-color: $light;
    border-radius: 8px;
    @include flex(row, center, space-between);
    padding: 17px;

    #hamburger {
      display: none;
    }

    #return {
      @include flex(row, center, center);

      span {
        font-weight: 700;
      }

      .icon_arrow {
        height: 22px;
        cursor: pointer;
      }
    }

    .assifems {
      height: 40px;
      max-width: 100%;
    }
    .view_name{
      cursor: pointer;
    }
    .associate_name{
      color: #029450; 
    }
    .options {
      position: relative;
    }
    .title_carteirinha {
      display: none;
    }
    #close {
      display: none;
    }

    // More Options
    #more_options {
      opacity: 0;
      position: absolute;
      background-color: $light;
      overflow: hidden;
      height: 0px;
      transition: height 1s;
      right: 0;
      border: solid 2px;
      width: 180px;
      border-radius: 10px 0 10px 10px;
      z-index: 1;
      flex-direction: column;
      font-weight: 700;

      .deslogar{
        border: none;
        color: black;
        background-color: none;
        background-color: white;
        transition: 200ms;
        font-weight: 700;
      }

      .division {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .down {
        margin-top: 170px;
      }
      // Change the color of the selected item
      .selected {
        color: $secondary-color !important;
        border-bottom: $secondary-color solid 0.5px;
      }

      .up div {
        border-bottom: solid 0.5px;
        max-width: 100%;
        transition: 200ms;

        &:hover {
          background-color: $dark;
          color: $light;
          transition: 200ms;
          cursor: pointer;
          
        }
        &:hover .deslogar{
          background-color: $dark;
          color: $light;
          transition: 200ms;
          cursor: pointer;
        
        }

        &:first-child {
          padding: 20px 10px;
          border-radius: 6px 0px 0px 0px;
        }

        padding: 5px 10px;
        font-size: 0.9rem;
      }
      .down {
        padding: 5px 10px;
        font-size: 0.8rem;
        transition: 200ms;
        &:hover {
          transition: 200ms;
          font-weight: 800;
          cursor: pointer;
     
        }
      }
      .icon_help {
        height: 10px;
        &:hover {
          transition: 200ms;
          height: 12px;

        }
      }
    }
  }
}
