<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#00A85A" />
    <!--viewport para designers responsivos (mobo), content é a configuração-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link
      rel="stylesheet"
      href="stylesheets/components/container/container.css"
    />
    <link rel="stylesheet" href="stylesheets/components/footer/footer.css" />
    <link rel="stylesheet" href="stylesheets/components/menu/menu.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="shortcut icon" href="images/icon_256.png" type="image/png" />
    <link rel="apple-touch-icon" href="images/icon_256.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Carteirinha Digital - ASSIFEMS</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div>
        <img class="assifems" src="/images/assifems.png" />
      </div>

      <div class="options">
        <div id="return">
          <span>Nome de usuário</span
          ><img
            class="icon_arrow"
            id="arrow"
            src="images/icons/arrow.svg"
            onclick="menu()"
          />
        </div>
        <img id="hamburger" src="images/icons/hamburger.svg" onclick="menu()" />
        <div><h1 class="title_carteirinha">Carteirinha Digital</h1></div>

        <div id="more_options">
          <div class="division">
            <div class="up">
              <img id="close" src="images/icons/close.svg" onclick="menu()" />
              <div>Logado em <b>Nome de usuario</b></div>
              <div class="selected">Vizualizar carteirinha</div>
              <div><a href="/estabelecimentos">Estabelecimentos</a></div>
              <div>Configurações</div>
              <div>Sair</div>
            </div>

            <div class="down">
              <div>
                <img class="icon_help" src="images/icons/help_white.svg" />
                Preciso de ajuda
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Div -->
    <container-desktop>
      <!-- Desktop Title -->
      <div class="title">
        CARTEIRINHA DIGITAL<a href="https://wa.me/556781321492"
          ><img src="images/icons/help.svg"
        /></a>
      </div>
      <!-- Title End -->

      <!-- Main Content -->
      <div class="page">
        <!-- Left Side -->
        <div class="left">
          <div class="photo"></div>

          <span>Status:<span class="status">Inválida</span></span>
        </div>

        <!-- Left End -->

        <!-- Right Side -->
        <div class="right">
          <h1>Dados Pessoais</h1>

          <!-- First Line -->
          <div class="lines">
            <div class="data">
              <span class="red">Nome e Sobrenome:</span>
              <span class="name">André Luís de Souza Lopes</span>
            </div>
          </div>

          <!-- First Line End -->

          <!-- Second Line -->
          <div class="lines">
            <!--Birth Date -->
            <div class="data">
              <span class="red">Data de Nascimento</span>
              <span>99/99/9999</span>
            </div>

            <!--Birth Date End -->

            <!--CPF -->
            <div class="data">
              <span class="red">CPF</span>
              <span>999.999.999-99</span>
            </div>

            <!--CPF End -->

            <!--RG -->
            <div class="data">
              <span class="red">RG</span>
              <span>999.999.999-99</span>
            </div>
            <!--RG End -->
          </div>
          <!-- Second Line End -->

          <!--Third Line -->
          <div class="lines">
            <!--SIAPE -->
            <div class="data">
              <span class="red">SIAPE</span>
              <span>999.999.999-99</span>
            </div>
            <!--SIAPE End -->

            <!--Validity -->
            <div class="data">
              <span class="red">Validade da Carteirinha</span>
              <span>99/99/9999</span>
            </div>
            <!--Validity End -->
          </div>
          <!--Third Line End -->
        </div>
        <!-- Right Side End -->
      </div>
      <!-- Main Content End -->
    </container-desktop>

    <!-- Mobile Version -->

    <container-mobile>
      <!-- Profile Photo -->
      <div class="photo"></div>
      <!-- Profile Photo End -->

      <!-- Name and Status -->
      <div>
        <h1 class="red">Nome e Sobrenome</h1>
        <span
          ><span class="green">Status: </span
          ><span class="status">Inválida</span></span
        >
      </div>
      <!-- Name and Status End -->

       <!-- Birthdate and Validity -->
      <div>
        <p>Data de nascimento</p>
        <span class="green">99/99/9999</span>
        <p>Validade da Carteirinha</p>
        <span class="green">99/99/9999</span>
      </div>
       <!-- Birthdate and Validity End -->

       <!-- DOCS -->
      <div class="green-box">
        <p class="green">CPF</p>
        <span>999.999.999-99</span>
        <p class="green">RG</p>
        <span>99.999.999-9</span>
        <p class="green">SIAPE</p>
        <span>99.999.999-9</span>
      </div>
      <img class="assifems" src="/images/assifems.png" />
       <!-- DOCS End -->
    </container-mobile>

    <!-- Footer -->
    <footer>Desenvolvido por André Lopes, Igor Santana e Juan Silva.</footer>
    <!-- Footer End -->

    <!-- Scripts -->
    <script src="js/script.js"></script>
  </body>
</html>
