<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#00A85A" />
    <!--viewport para designers responsivos (mobo), content é a configuração-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="shortcut icon" href="images/icon_256.png" type="image/png" />
    <link rel="apple-touch-icon" href="images/icon_256.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Estabelecimentos - ASSIFEMS</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div>
        <a href="/"><img class="assifems" src="/images/assifems.png" /></a>
      </div>

      <div class="options">
        <div id="return" onclick="menu()">
          <span>Nome de usuário</span
          ><img
            class="icon_arrow"
            id="arrow"
            src="images/icons/arrow.svg"
          />
        </div>
        <img id="hamburger" src="images/icons/hamburger.svg" onclick="menu()" />
        <div><h1 class="title_carteirinha">Estabelecimentos</h1></div>

        <div id="more_options">
          <div class="division">
            <div class="up">
              <img id="close" src="images/icons/close.svg" onclick="menu()" />
              <div>Logado em <b>Nome de usuario</b></div>
              <div><a href="/">Vizualizar carteirinha</a></div>
              <div class="selected"><a href="/estabelecimentos">Estabelecimentos</a></div>
              <div>Sair</div>
            </div>

            <div class="down">
              <div>
                <img class="icon_help" src="images/icons/help_white.svg" />
                Preciso de ajuda
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End-->

    <h1 class="title_estabelecimentos">ESTABELECIMENTOS</h1>
    <input
      class="input_estabelecimentos"
      type="text"
      placeholder="Pesquisar Estabelecimento..."
    />
    <div class="class_filter">
      <img src="images/icons/filter.svg" onclick="filtrar()" /><span
        style="color: #fffaf0"
        onclick="filtrar()"
        >Filtrar</span
      >
    </div>

    <div id="filter_options">
      <div class="row"><h1>Filtrar</h1><img id="close_filter" src="images/icons/close.svg" onclick="filtrar()" /></div>

      <div class="column">
        <h1>Categorias</h1>
      <div><input type="checkbox" id="farmacia" name="farmacia">
      <label for="farmacia">Farmácia</label></div>

      <div><input type="checkbox" id="supermercados" name="supermercados">
      <label for="supermercados">Supermercados</label></div>

      <div><input type="checkbox" id="dentista" name="dentista">
      <label for="dentista">Dentista</label></div>

      <div><input type="checkbox" id="vestuario" name="vestuario">
      <label for="vestuario">Vestuário</label></div>

     <div class="button"> <button class="filter">FILTRAR</button>
      <button class="clear">LIMPAR</button></div> 

    </div>
    </div>


    <div class="container">

      <% establishments.forEach(function(establishment){ %>
      <div class="card"> 
       <div class="photo"></div>
       <div class="info"> 
          <h1 class="name"><%= establishment.name %></h1> 
          <h3 class="category">Ramo de Atividade</h3> 
          <h3 class="address"><%= establishment.address %></h3> 
          <button>Entrar em Contato</button></div> 
          </div>

      <% }); %>

     
    </div>

    <!-- Footer -->
    <footer>Desenvolvido por André Lopes, Igor Santana e Juan Silva.</footer>
    <!-- Footer End -->

    <!-- Scripts -->
    <script src="js/script.js"></script>
  </body>
</html>
